page-multiplayer-selection {

  ion-content {
    background-color: #E98320 !important;
  }

  .searchbar-input {
    border-radius: 5em !important;
  }

  ion-card {
    border-radius: 0.5em !important;
  }

  ion-icon {
    color: color($theming, primary, dark);
  }

}
