.perso, .imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perso {
  height: 100%;
  justify-content: space-evenly;
}


.head {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.head .face {
  position: absolute;
  top: 0;
  z-index: -1;
}

ion-input {
  background: #eee;
  border-color: #121212;
  border-radius: 5px;
  border-style: solid;
}

.input {
  display: flex;
  flex-direction: row;

  button {
    width: 32px;
    height: 46px !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;

    .button-inner {
      height: fit-content;
    }
    ion-icon {
      position: absolute;
      left: 8px;
      top: 11px;
      font-size: 24px;
    }
  }
}


