<ion-toolbar class="toolbar-component">
  <ion-item no-lines>
    <ion-icon name="cart"></ion-icon>

    <ion-icon item-end name="podium"></ion-icon>
    <ion-icon (click)="goToAvatar()" item-end name="contact"></ion-icon>
    <ion-icon item-end name="people"></ion-icon>
  </ion-item>
</ion-toolbar>

<ion-fab bottom center class="toolbar-play-fab">
  <button ion-fab icon-only>
    <ion-icon name="play"></ion-icon>
  </button>
  <ion-fab-list side="top" class="buttons">
    <button ion-button round color="light" (click)="goMultiplayer()">
      MULTIJOUEUR
    </button>
    <button ion-button round color="light" (click)="goSingleplayer()">
      SOLO
    </button>
  </ion-fab-list>
</ion-fab>
