.toolbar-component {
  ion-item {
    background-color: transparent !important;
    border: none !important;

    ion-icon {
      margin: 0 8px !important;
    }
  }
  .toolbar-background {
    background: transparent;
  }
}

.toolbar-play-fab {
  background: color($theming, primary, base);
  border-radius: 50%;
  padding: 10px;
  left: 50% !important;
  margin-left: -38px !important;
  bottom: 57px !important;
  margin-bottom: -38px;

  .fab-close-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ion-fab-list {
    left: -50%;
    padding-bottom: 5px;

    button {
      margin-bottom: 15px;
    }
  }

  .buttons button {
    width: 100%;
  }

  ion-icon {
    color: color($theming, primary, dark);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .fab {
    background: color($colors, light);
  }
}



