page-home {
  ion-footer {
    background: color($theming, dark, bg) !important;
  }
  ion-icon {
    color: color($theming, dark, text);
  }
  .logo-img {
    margin: 15%;
    width: 70%;
  }

  .buttons {
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
