page-choose-category {

  ion-content {
    background-color: #E98320 !important;
  }

  .searchbar-input {
    border-radius: 5em !important;
  }

  ion-card {
    position: relative;
    border-radius: 0.5em !important;
  }

  ion-icon {
    color: color($theming, primary, dark);
  }

  img {
    height: 75px;
    width: 75px;
    margin: 0 10px 0 0 !important;
  }

  .triangle {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    height : 0;
    width : 0;
    z-index: 99;
    overflow: visible;
    border-top : 30px solid #28CAEB;
    border-left : 30px solid transparent;
  }

  .disabled {
    background-color: darkgray !important;
  }
}
