page-avatar-progress {

  h2 {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1em !important;
  }
  ion-grid {
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
  }

  .pseudo {
    margin-top: 4em;
    height: 40%;
    width: 100%;
  }

  .level {
    width: 100%;
  }

  .xp {
    width: 100%;
  }

  .share {
    margin-top: 10%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .detail {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 4em;
  }

  .avatar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 150px;
  }

  img {
    height: 150px;
    width: 150px;
    margin: 5%;
  }

  ion-icon {
    color: color($theming, primary, dark);
  }

  .progressbar {
    height: 2em;
    width: 80%;
    margin: 10%;
    border-radius: 5px;
    border-style: solid;
  }

  .progress{
    border-radius: 5px;
    background-color: #28EB7D;
    width: 30%;
    height: 100%;
  }

}
